# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
plant
# Node dependencies
node_modules
.local
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma
